* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffaef;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  color: rgba(28, 47, 75, 1);
}

h1 {
  color: rgba(28, 47, 75, 1);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 20px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: purple;
}

.card-white {
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  background: white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-text {
  margin: 10px 0;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.container {
  width: 800px;
  padding: 40px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline;
}

.list-inline li a i {
  font-size: 30px;
  margin: 10px;
  color: #000;
}
